<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.photos31android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Photos31Android">
        <activity
            android:name=".Search"
            android:label="Search Photos">
        </activity>
        <activity
            android:name=".MovePhoto"
            android:label="Move Photo">
        </activity>
        <activity
            android:name=".SlideShow"
            android:label="Slide Show">
        </activity>
        <activity
            android:name=".Display"
            android:label="Display Photo">
        </activity>
        <activity
            android:name=".OpenAlb"
            android:label="Open Albums">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.photos31android.MainActivity" />
        </activity>
        <activity
            android:name=".CreateAlb"
            android:label="Create Albums">
        </activity>
        <activity
            android:name=".EditAlb"
            android:label="Edit Albums">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>